body {
  background: #f9f9f9;
  margin: 0;
  padding: 0;
  font-family: arial, serif;
  font-size: 14px;
  user-select: none;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
}

.opened {
  margin-right: 20px;
}
.opened-value {
  font-weight: bold;
}

.field {
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  margin: 20px;
  user-select: none;
}

.cell {
  position: relative;
  float: left;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #ddd;
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0px;
}
.cell.is-mine::before {
  content: "";
  display: none;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  background: red;
}
.cell.is-opened {
  cursor: default;
  background: #fff;
  font-size: 18px;
}
.cell.is-opened.is-mine::before {
  display: block;
}

.markMine::after {
  content: "\2620";
  display: block;
  color: #316cd8;
  font-size: 30px;
}

.game-over-blur {
  position: relative;
}

.game-over-blur::after {
  content: 'Game Over \2620';
  color: #0560f3;
  display: block;
  font-size: 45px;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 10%;
  text-align: center;
}
